<div class="container show">
    <div class="row">
        <div class="col-100">
            <form [formGroup]="formCliente" (ngSubmit)="addCliente()">
                <div class="row column">
                    <label>
                        Nombre
                    </label>
                    <input type="text" formControlName="nombre">
                </div>
                <div class="row column">
                    <label>
                        Actividades
                    </label>
                    <input type="text" formControlName="actividades">
                </div>
                <div class="row column">
                    <label>
                        Dirección
                    </label>
                    <input type="text" formControlName="direccion">
                </div>
                <div class="row column">
                    <label>
                        Localidad
                    </label>
                    <input type="text" formControlName="localidad">
                </div>
                <div class="flex j-end">
                    <button type="button" class="outline" routerLink="/">Cancelar</button>
                    <button type="submit" class="m-l-small">Añadir</button>
                </div>
            </form>
        </div>
    </div>
</div>
