<div class="container flex">
    <div class="card s">
        <h1>Nike Tiger Woods</h1>
        <hr>
        <p>Lorem ipsum...</p>
        <div class="buttons-row">
            <button (click)="addCesta('Nike')">Añadir</button>
        </div>
    </div>
    <div class="card s">
        <h1>Adidas Rafa Nadal</h1>
        <hr>
        <p>Lorem ipsum...</p>
        <div class="buttons-row">
            <button (click)="addCesta('Adidas')">Añadir</button>
        </div>
    </div>
    <div class="card s">
        <h1>Puma Leo Messi</h1>
        <hr>
        <p>Lorem ipsum...</p>
        <div class="buttons-row">
            <button (click)="addCesta('Puma')">Añadir</button>
        </div>
    </div>
</div>
